requests==2.32.3
pandas==1.5.3
pyarrow==10.0.1
numpy==1.26.4
dagster==1.7.16
dagster-webserver==1.7.16
dagster-postgres==0.23.16
duckdb==0.10.3
pytest==8.3.5
ruff==0.11.9
PyYAML==6.0.2
SQLAlchemy==2.0.40
psycopg[binary]==3.2.7
dbt-postgres==1.8.2
prometheus-client==0.21.1
